<div class="row col-md-6 col-md-offset-3 center">
  <h1>Turing Blogs</h1>
</div>

<div class="row col-md-6 col-md-offset-3 center">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash-#{name}" %>
  <% end %>
</div>

<div class="row col-md-6 col-md-offset-3 center">
  <div class='add-blog'>
    <%= form_for @blog, url: blogs_path  do |f| %>
      <%= f.text_field :author, placeholder: 'Your Name' %>
      <%= f.text_field :rss_url, placeholder: "Your Blog's RSS URL" %>
      <%= f.submit 'Add Your Blog!' %>
    <% end %>
  </div>
</div>

<div class="posts list-group">
  <% @posts.each do |post| %>
    <div class="row post col-md-6 col-md-offset-3 list-group-item">
      <%= link_to post.title, post.url %>
      <span class='float-right'>
        <%= link_to post.blog.author, post.blog.url %>
      </span>
    </div>
  <% end %>
</div>


