<h1>Turing Blogs</h1>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash-#{name}" %>
<% end %>

<div class='add-blog'>
  <%= form_for @blog, url: blogs_path  do |f| %>
    <%= f.text_field :author, placeholder: 'Author' %>
    <%= f.text_field :rss_url, placeholder: 'RSS Url' %>
    <%= f.submit 'Add Blog' %>
  <% end %>
</div>

<div class="container-fluid posts">
  <% @posts.each do |post| %>
    <div class="row post col-md-4 col-md-offset-4">
      <%= link_to post.title, post.url %> <span class='float-right'><%= link_to post.blog.author, post.blog.url %></span>
    </div>
  <% end %>
</div>
