<h1>Turing Blogs</h1>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash-#{name}" %>
<% end %>

<div class='add-blog'>
  <%= form_for @blog, url: blogs_path  do |f| %>
    <%= f.label :author %>
    <%= f.text_field :author %>
    <%= f.label :url %>
    <%= f.text_field :url %>
    <%= f.submit 'Add Blog' %>
  <% end %>
</div>

<div class='posts'>
  <% @posts.each do |post| %>
    <%= link_to post.title, post.url %>
  <% end %>
</div>
